@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --swiper-navigation-color: black;
  --swiper-navigation-size: 64px;
  --swiper-pagination-color: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: rgb(255, 255, 255);
  background-size: 30px 30px; /* Size of each grid cell */
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  color: var(--foreground);
  font-family: 'Pixelify Sans', Arial, Helvetica, sans-serif;
}

.custom-swiper {
  .swiper-pagination {
    position: relative !important;
  }
}

.custom-swiper-button {
  transition: all 150ms ease-in-out;
  padding: 8px;
}

.custom-swiper-button::after {
  display: none !important;
}

@layer theme {
  .clip-botao {
    clip-path: polygon(
      15px 0,
      calc(100% - 15px) 0,
      100% 15px,
      100% calc(100% - 15px),
      calc(100% - 15px) 100%,
      15px 100%,
      0 calc(100% - 15px),
      0 15px
    );
  }

  .bg-laje {
    background-image: url('/assets/backgrounds/laje_pessoas_01.png');
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
  }

  @media (min-width: 768px) {
    .bg-laje {
      background-size: cover;
    }
  }

  @media (min-width: 1024px) {
    .bg-laje {
      background-size: contain;
      background-position: bottom;
    }
  }
}

.custom-swiper-button:hover,
.custom-swiper-button:active {
  background: rgba(150, 149, 149, 0.7);
  border-radius: 50%;
}
